body {
  background: linear-gradient(180deg, rgb(215, 236, 255) 0%, rgb(114, 178, 235) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}


#saulGoodman {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid;
  border-width: 1px;
  border-radius: 20px;
  aspect-ratio: 1/1;
  height: 80%;
  background: url(../imagens/saul-goodman.gif) center center no-repeat;
  background-size: cover;
}

#nfiz{
  margin-top: 1%;
  text-align: center;
  color: white;
  font-size: 300%;
}

#audio{
  position: absolute;
  width: 30%;
  max-width: 300px;
  bottom: 0;
  right: 0;
}

#voltar{
  z-index: 1;
}