@font-face {
    font-family: "Lato";
    src:url("../fontes/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Press Start 2P";
    src:url("../fontes/Press_Start_2P/PressStart2P-Regular.ttf");
}