#container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #aed9ff;
  min-width: 260px;
  width: 50%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
  margin-top: 5%;
  margin-bottom: 150px;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  padding: 20px;
}

#dados{
  height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

p {
  font-family: "Lato", sans-serif;
}

#loginTxt-container {
  padding: 15px;
  font-size: 35px;
}

.col-3,
.effect-8{
  position: relative;
}

.col-3{
  width: 70%;
}

#senhaInput{
  padding-right: 40px;
}

#olho{
  background-image: url(../imagens/show.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  aspect-ratio: 1 / 1;
  width: 30px;
  top: 13%;
  right: 1.7%;
  border-radius: 5px;
  border: 0;
  
}

#olho:hover{
  background-color: #0000002f;
}

.loginButton {
  background-color: #41F5AA;
  display: flex;
  justify-content: center;
  width: 70%;
  min-width: 215px;
  height: 40px;
  padding: 5px 0px;
  align-items: center;
  margin: 17px auto 21px;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 25px;
}

.loginButton:hover {
  background-color: #38db97;
  transition: 0.4s;
  cursor: pointer;
}