/* Seção do dialog */

dialog {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid;
  border-width: 1px;
  border-radius: 20px;
  width: 979px;
  height: 430px;
  background-color: #D7ECFF;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

dialog::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
}

#upDialog {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -1px;
  left: -1px;
  width: 101%;
  height: 64px;
  border: solid;
  border-width: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#updialogH2 {
  margin-left: 21px;
  margin-top: 12px;
  font-size: 30px;
}

#updialogButton {
  top: 3px;
  height: 55px;
  width: 55px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
}

#bottomDialog {
  height: 365px;
  padding: 30px;
}

#bottomdialogH2 {
  font-size: 30px;
}

.consultarButton {
  background-color: #63F6B8;
  font-size: 22px;
  height: 50px;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
}

#dados {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#cepInput {
  width: 356px;

}

#numeroInput {
  width: 201px;
}

#numeroInputt:disabled {
  background-color: #c7c5c5;
}

#consultAtual {
  width: 406px;
}

#consultDisponibilidade {
  margin-top: auto;
  margin-bottom: auto;
  width: 265px;
}

#utilitario {
  display: flex;
  margin-top: 20px;
  GAP: 225px;

}

#nseiCEP {
  width: 184px;
  height: 26px;
  font-size: 22px;
  text-decoration: underline;
}

#ntemNum {
  font-size: 20px;
}

/* "body" */

#txtBody {

  font-family: 'Lato', sans-serif;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin-top: 105px;
  margin-bottom: 89px;
}

#txtBody h1 {
  font-size: 35px;
}

#txtBody h3 {
  font-size: 20px;
}

/* cards */

section#cardArea {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: end;
  background: linear-gradient(180deg, #AAD7FF 0%, #78BFFF 100%);
  margin-right: auto;
  margin-left: auto;
  width: 98%;
  max-width: 1020px;
  height: 100%;
  border-radius: 10px;
}

.cardBox {
  position: relative;
  border-radius: 20px;
  border: 3px solid #000;
  background: #64CBF8;
  min-width: 280px;
  width: 30%;
  max-width: 325px;
  height: 450px;
  margin: 1%;
}

.cardTop {
  position: absolute;
  width: 100%;
  max-width: 306px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #000;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

#cardMaisvendido {
  background-color: #C664F4;
}

#cardMaisvelocidade {
  background-color: #FFA723;
}

.cardItem {
  position: absolute;
  width: 100%;
  height: 410px;
  bottom: 0;
}

#cardItemNormal {
  height: 420px;
}

.cardItem .txtArea {
  width: 100%;
  margin-top: 4%;
  padding: 4%;
}

.cardItem h1 {
  font-size: 2em;
}

.cardItem h3 {
  margin-top: 9px;
  font-size: 1.3em;
}

.cardItem h4 {
  margin-top: 41px;
  font-size: 1.2em;
}

.imgKonnectus {
  margin-top: 15px;
  padding: 5px;
  background-color: white;
  border-radius: 360px;
}

.cardBottom {
  position: absolute;
  bottom: -3px;
  left: -3px;
  border-radius: 20px;
  border: 3px solid #000;
  box-shadow: 0px -2px 5px 0px #000;
  background: #64CBF8;
  width: 102%;
  max-width: 325px;
  height: 145px;
}

.cardBottom .txtArea {
  text-align: center;
  height: 52px;
  margin-top: 11px;
}

.cardBottom .txtArea h1 {
  font-size: 2em;
}

.cardBottom .txtArea h3 {
  font-size: 1.4em;
}

.buttonAssinar {
  background-color: #41F5AA;
  display: flex;
  justify-content: center;
  width: 215px;
  height: 40px;
  padding: 5px 0px;
  align-items: center;
  margin: 17px auto 21px;
  border-radius: 20px;
  border: 1px solid #000;
  font-size: 1.5em;
}

.buttonAssinar button {
  width: 215px;
  height: 40px;
  border-radius: 20px;
}

.buttonAssinar:hover {
  background-color: #38db97;
  transition: 0.4s;
  cursor: pointer;
}


/* Seção do time de e-sports */

section#ESports {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 57px;
  height: fit-content;
  max-height: 657px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(115, 115, 115, 0.46);
  margin-bottom: clamp(150px, 25vh, 990px);
}

#txtArea {
  color: #FFF;
  font-family: 'Press Start 2P', cursive;
  width: 50%;
  margin-left: 5%;
}

#imgESports {
  border-radius: 10%;
 max-width: 30%;
  aspect-ratio: 1/1;
  margin-right: 5%;
}

section#ESports h1 {
  font-size: 1vw;
}

section#ESports h3 {
  margin-top: 10%;
  font-size: 0.5vw
}


@media screen and (max-width: 620px) {
  #imgESports {
  max-width: 50%;
  }
}@media screen and (min-width: 1800px) {
  #imgESports {
  max-width: 20%;
  }
}@media screen and (min-width: 2200px) {
  #imgESports {
  max-width: 15%;
  }
}@media screen and (min-width: 2200px) {
  #imgESports {
  max-width: 15%;
  }
}

@media screen and (max-width: 900px) {
  
  section#cardArea {
    flex-wrap: wrap;
    width: min-content;
    padding: 1%;
  }

  #txtBody h1 {
    font-size: 130%;
  }

  #txtBody h3 {
    font-size: 100%;
  }
}


@media screen and (max-width: 2000px) {

  section#ESports h1 {
    font-size: 1.8vw;
  }

  section#ESports h3 {
    margin-top: 20%;
    font-size: 1vw;
  }
}